
<div id ="container">
      
      <input type="button" id="name_button" value='Name' />
      <br>
      <div id="yolo">hey</div>
      <!-- <div id="swift">
        <input type="text" id="name_text" />
        <input type="button" id="go_button" value='Go!' />
    </div> -->

      
</div>