<input type="button" id="pirate_button" value="Pirate-button" />

<input type="text" id="pirate_text" />
<input type="button" id="pirate_create" value="Put-pirate-button" />


<div id='pirates'>
</div>